<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>tokml</title>
        <meta http-equiv='content-type' content='text/html; charset=utf-8' />
        <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
    </head>
    <body>
        <h2>下載KML</h2>
        <!--<input type='text' id='map-id' placeholder='mapbox.map-id' />
    <button id='convert'>convert from a mapbox map id</button>
    <hr />
    <textarea id='map-geojson'></textarea>-->
        <button id='convert-raw'>檔案準備好了<br>~請按此下載</button>
        <hr />
        <p>提醒您，另存下來的KML可GoogleEarth再做利用</p>
        <script src='site/site.js'></script>
    </body>
</html>
