<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>匯出Word</title>
    <!--Docx javascript 插件-->
    <script src="js/docxtemplater.js"></script>
    <script src="js/pizzip.js"></script>
    <script src="js/pizzip-utils.js"></script>
    <!--javascript檔案下載插件-->
    <script src="js/FileSaver.js"></script>
    <!--客製化javascript檔案-->
    <script src="js/docx_load_save.js"></script>
    <!--打包的image-module-free-->
    <script src="js/image-module-free.bundle.js"></script>
</head>
<body>
    <h3>正在產生文件，請稍候...</h3>
    <script>
        let urlParams = new URLSearchParams(window.location.search);
        let type = urlParams.get('type');
        let width = urlParams.get('width');
        let height = urlParams.get('height');

        let templateFile = '';
        let Data = {}, FileTitle = '';

        Data = parent.docxReplace_obj;
        if (type == 'house') {
            loadDocx('doc/不動產說明書範本_成屋不動產說明書.docx', [width, height]);
            FileTitle = '不動產說明書範本_成屋不動產說明書.docx';
        }
        else if (type == 'land') {
            loadDocx('doc/不動產說明書範本_土地不動產說明書.docx', [width, height]);
            FileTitle = '不動產說明書範本_土地不動產說明書.docx';
        }

        setTimeout(function () { saveAs_(); }, 500)
        function saveAs_() {
            doc.setData(Data);
            doc.render();

            docx = doc.getZip().generate({
                type: "blob",
                mimeType:
                    "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            });
            saveAs(docx, FileTitle);

            parent.layer.close(parent.docxReplace_Index);
            parent.qLoaded();
        }
    </script>
</body>
</html>
